<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - NutCracker</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/responsive.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-wrapper">
                <div class="logo"><img src="/assets/images/logo.svg" alt="logo">
                    <h2>NutCracker</h2>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/upload">Upload</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <main class="about">
            <div class="maincontainer">
                <div class="acontainer">
                    <div class="leftpart">
                        <h3>
                            <div class="line"></div> About Us
                        </h3>
                        <p>
                            Welcome to NutCracker, where your videos become your revenue stream. At NutCracker, we
                            provide a
                            dynamic platform for users to effortlessly upload their videos and unlock the potential for
                            earning
                            revenue through views. Our user-friendly interface empowers creators of all backgrounds to
                            showcase
                            their content and engage with a global audience.
                        </p>
                        <p>
                            NutCracker is more than just a video hosting platform; it's a community built on the
                            principles of
                            creativity, innovation, and empowerment. Whether you're a budding filmmaker, a talented
                            vlogger, or
                            an aspiring content creator, NutCracker offers you the tools and support you need to thrive
                            in the
                            digital landscape.
                        </p>
                        <p>
                            Join NutCracker today and embark on a journey where your creativity knows no bounds.
                            Together, let's
                            redefine the way we create, share, and monetize video content. Welcome to NutCracker—where
                            your
                            videos take center stage and your success knows no limits.
                        </p>
                    </div>
                    <div class="rightpart">
                        <h3>Our Mission</h3>
                        <p>
                            Our mission is to democratize the world of online content creation by providing equal
                            opportunities
                            for all. We believe that every voice deserves to be heard, every story deserves to be
                            shared, and
                            every creator deserves to be rewarded for their hard work and dedication.
                        </p>
                        <h3>How it Works:</h3>
                        <div class="howworks">
                            <div class="howworksbox">
                                <h1>1</h1>
                                <p>Upload Video on our Website</p>
                            </div>
                            <div class="howworksbox">
                                <h1>2</h1>
                                <p>Get a temporary link for Uploaded video</p>
                            </div>
                            <div class="howworksbox">
                                <h1>3</h1>
                                <p>Convert link in our Telegram Bot</p>
                            </div>
                            <div class="howworksbox">
                                <h1>4</h1>
                                <p>Or Upload direct via Telegram Bot</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-txt">
                    <p>© 2024 NutCracker | All rights reserved.</p>
                </div>
                <div class="footer-links">
                    <a href="/terms">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </div>

</body>

</html>