<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video - NutCracker</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/responsive.css">
</head>

<body>
    <div class="page-wrapper upload-page">
        <header class="header">
            <div class="header-wrapper">
                <div class="logo"><img src="/assets/images/logo.svg" alt="logo">
                    <h2>NutCracker</h2>
                </div>
                <div class="nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/upload">Upload</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <main class="upload">
            <div class="maincontainer">
                <div class="leftpart">
                    <h2>Upload Video</h2>
                    <div class="form-container">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="form-row">
                                <label style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);" for="video">Choose a video:</label>
                                <input class="input" type="file" id="video" name="video" accept="video/*" required>
                            </div>
                            <button type="submit" class="submitButton">Upload</button>
                        </form>
                    </div>
                </div>
                <div class="rightpart">
                    <div class="textcontainer">
                        <h3>Important</h3>
                        <ul>
                            <li>We offer video share and earn revenue model.</li>
                            <li>
                                Easy to use, earning method by doing almost nothing.
                            </li>
                            <li>
                                You will get a temporary link here, convert it with our <a href="#"
                                    >Telegram Bot</a> to make it working.
                            </li>
                        </ul>
                    </div>
                    <div class="linkcontainer">
                        <h3 style="margin-bottom: .5rem;">Links:</h3>
                        <p id="uploadStatus"></p>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer-wrapper">
                <div class="footer-txt">
                    <p>© 2024 NutCracker | All rights reserved.</p>
                </div>
                <div class="footer-links">
                    <a href="/terms">Terms and Conditions</a>
                </div>
            </div>
        </footer>
    </div>


    <script src="/assets/script.js"></script>
</body>

</html>