
.maincontainer{
    height: 100vh;
    width: 100%;
    position: relative;
    /* background-color: rgb(59, 22, 59); */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
.container{
    padding: 3rem 5rem 2rem 5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.videotitle h1{
    font-size: 2.3rem;
    margin-top: 20px;
}
.videocontainer{
    position: relative;
    width: 100%;
    /* padding-bottom: 56.25%; */
    /* margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden; */
    height: auto;
    width: 700px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px; */
    border-radius: 15px;
    overflow: hidden;
}
.videocontainer > div{
    /* width: 50% !important;
    border-radius: 50px; */
}

@media (max-width:768px) {
    .container{
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .videocontainer{
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }
    .videotitle h1{
        font-size: 1.5rem;
        margin-top: 20px;
    }
}