.maincontainer {
    height: fit-content;
    color: #fff;
    box-sizing: border-box;
    background-color: black;
    height: 100vh;
}
.section1 {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    height: calc(100vh - 150px);
}

.section1 .left,
.section1 .right {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.section1 .right{
    height: 80%;
}
.section1 .left h1 {
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: .4px;
    width: 100%;
    margin-bottom: 1.9rem;
}

.headingslogan {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 4rem;
    background-color: white;
    color: #000;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 12px;
    letter-spacing: 1.5px;
}

.section1 .button {
    padding: 12px 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    font-weight: 500;
}

.section1 .buttonsec {
    padding: 11px 30px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: 1px solid white;
}

.bannerimg {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerimg img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.right .usp1{
    position: absolute;
    top: 0;
    left: 0;
}
.right .usp2{
    position: absolute;
    top: 0;
    right: 0;
}
.right .usp3{
    position: absolute;
    bottom: 0;
    left: 0;
}
.right .usp4{
    position: absolute;
    bottom: 0;
    right: 0;
}
.right .usp{
    background-color: white;
    color: #000;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    animation: moveUp 7s infinite;

}
@keyframes moveUp {

    0%,
    100% {
        transform: translateY(0) translateX(0) rotate(0);
        /* Initial and final position */
    }

    25% {
        transform: rotate(-5deg);
        /* Move up and right */
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: translateX(8px);
    }
}