/* components/Footer.module.css */

.footer {
    color: #fff !important;
    letter-spacing: .5px;
    height: fit-content;
    padding: 1rem 3rem;
    margin: 0 auto;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: black;
    position: absolute;
    bottom: 0px;
    left: 0%;
}

.footerwrapper {
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer p {
    font-size: 16px;
}

.footer .links{
    display: flex;
    gap: 25px;
}

.footer .links a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

.footer .links a:hover{
    color: #893168;
}

@media (max-width:768px) {
    .footer{
        position: relative;
        padding: 1rem;
    }
    .footerwrapper{
        flex-direction: column;
        gap: 10px;
    }
}