/* components/Header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.header {
    height: 80px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: black;
}

.logo {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
}

.logo h1 {
    letter-spacing: .3px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.logo img {
    height: 100%;
    width: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.navbar ul li {
    /* margin-right: 20px; */
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.navbar ul li a:hover {
    text-decoration: underline;
    transition: all ease-in-out .2s;
    text-underline-offset: 5px;
    color: #893168;
}

@media (max-width:768px) {
    .header {
        flex-direction: column ;
        height: fit-content;
        padding: .5rem 0;
    }
}