@media screen and (max-width:768px) {

    html,
    body {
        height: fit-content;
    }

    .header-wrapper {
        flex-direction: column;
        padding: .2rem 1rem;
        justify-content: center;
        gap: 5px;
    }

    .header-wrapper .logo img {
        width: 80px;
    }

    .header-wrapper .logo h2 {
        font-size: 26px;
    }

    .header-wrapper .nav ul li {
        padding: 0 12px;
    }

    .section1 {
        padding: 1.5rem 1rem;
        flex-direction: column;
        gap: 50px;
    }

    .section1 .left,
    .section1 .right {
        width: 100%;
    }

    .section1 .right {
        height: 280px;
    }

    .section1 .left h1 {
        font-size: 36px;
        margin-bottom: 1.2rem;
    }

    .headingslogan {
        margin-bottom: 2.2rem;
    }

    .buttonsContainer {
        width: 100%;
        display: inline-block;
    }

    .section1 .button {
        /* display: block; */
        width: fit-content;
        margin-bottom: .5rem;
        padding: 12px 15px;
    }

    .section1 .buttonsec {
        padding: 12px 15px;
    }

    .footer {
        position: relative;
    }

    .footer-wrapper {
        padding: 1rem;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .about .acontainer {
        flex-direction: column;
        padding: 1.5rem 1rem;
    }

    .about .leftpart,
    .about .rightpart {
        width: 100%;
    }

    .about .rightpart {
        padding-left: 0;
    }

    .about .acontainer p {
        width: 100%;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .about .howworksbox {
        /* width: 100%; */
        padding: 1rem .5rem;
        /* height: fit-content; */
    }

    .about .howworksbox p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .terms .container {
        padding: .5rem 1rem;
    }

    .terms .maincontainer2 {
        padding: 1.5rem 1rem;
    }

    .terms .mainheading {
        font-size: 1.5rem;
    }

    .terms .container ul li {
        font-size: 1rem;
    }

    .upload {
        padding: 1.5rem 1rem;
    }

    .upload .maincontainer {
        padding: 1rem .5rem;
        flex-direction: column;
        gap: 50px;
    }

    .upload .maincontainer .leftpart,
    .upload .maincontainer .rightpart {
        width: 100%;
    }

    .upload .maincontainer .rightpart {
        flex-direction: column-reverse;
    }

    .upload .form-container form {
        align-items: stretch;
        height: fit-content;
    }

    .upload .textcontainer ul li {
        list-style-position: inside;
    }

    .upload .linkcontainer {
        margin-bottom: 1rem;
    }
    .play{
        padding: 1rem;
    }
    .play .video-container{
        width: 350px;
        height: 180px;
    }
    .play .video-container video{
        height: 100%;
        width: 100%;
    }
    .play .text-content p {
        width: 100%;
    }
}