@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    color: #fff;
    position: relative;
}

.page-wrapper {
    background: url(/assets/images/bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.page-wrapper.upload-page {
    background: url(/assets/images/bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

.header {
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header-wrapper {
    width: 100%;
    width: 100%;
    padding: .2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .logo {
    display: flex;
    align-items: center;
}

.header-wrapper .logo img {
    display: inline-block;
    width: 110px;
    height: auto;
}

.header-wrapper .logo h2 {
    display: inline-block;
    width: fit-content;
    font-size: 32px;
}

.header-wrapper .nav ul {
    display: flex;
    align-items: center;
}

.header-wrapper .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    list-style: none;
}

.header-wrapper .nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

.header-wrapper .nav ul li a:hover {
    text-decoration: underline;
    transition: all ease-in-out .2s;
    text-underline-offset: 5px;
    color: #0097B2;
}

/* Home */
.maincontainer {
    height: fit-content;
    color: #fff;
    /* box-sizing: border-box; */
}

.section1 {
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    /* height: calc(100vh - 150px); */
}

.section1 .left,
.section1 .right {
    width: 50%;
    /* height: 100%; */
    position: relative;
    display: flex;
    align-items: stretch;
}

.section1 .right {
    height: 350px;
}

.section1 .left h1 {
    font-size: 52px;
    line-height: 1.2;
    letter-spacing: .4px;
    width: 100%;
    margin-bottom: 1.9rem;
}

.headingslogan {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 4rem;
    background-color: #0097B2;
    color: #000;
    width: fit-content;
    padding: 8px 15px;
    border-radius: 12px;
    letter-spacing: 1.5px;
}

.section1 .button {
    padding: 12px 30px;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    font-weight: 500;
    border: none;
}

.section1 .buttonsec {
    padding: 11px 30px;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: none;
    /* border: 1px solid white; */
}

.bannerimg {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerimg img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.right .usp1 {
    position: absolute;
    top: 0;
    left: 0;
}

.right .usp2 {
    position: absolute;
    top: 0;
    right: 0;
}

.right .usp3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.right .usp4 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.right .usp {
    background-color: #0097B2;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    animation: moveUp 7s infinite;
}

@keyframes moveUp {

    0%,
    100% {
        transform: translateY(0) translateX(0) rotate(0);
        /* Initial and final position */
    }

    25% {
        transform: rotate(-5deg);
        /* Move up and right */
    }

    50% {
        transform: rotate(0);
    }

    75% {
        transform: translateX(8px);
    }
}



.footer {
    height: fit-content;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: transparent;
}

.footer-wrapper {
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.about .acontainer {
    display: flex;
    align-items: center;
    flex: 1;
    color: #fff;
    font-weight: 600;
    padding: 1rem 5rem;
    overflow-y: auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.about .leftpart,
.about .rightpart {
    width: 50%;
}


.about .rightpart {
    padding-left: 1rem;
}

.about .acontainer h3 {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.about .line {
    height: 2px;
    width: 50px;
    background-color: #fff;
    margin-right: 10px;
}

.about .acontainer p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 30px;
    width: 90%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.howworks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.about .howworksbox {
    display: flex;
    align-items: center;
    background-color: white;
    color: #000 !important;
    height: 100px;
    width: calc(50% - 10px);
    padding: 1rem;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    /* width: 250px; */
    margin-right: 10px;
    margin-bottom: 20px;
}

.about .howworksbox h1 {
    font-size: 70px;
    color: #893167b6;
    z-index: -1;
    margin-right: -10px;
    text-shadow: none;
}

.about .howworksbox p {
    margin: 0;
    font-weight: 600;
    font-size: 1.3rem;
    color: #000;
    text-shadow: none;
    margin-bottom: 0;
}

.about .acontainer::-webkit-scrollbar {
    background-color: rgb(139, 137, 137);
    width: 8px;
}

.about .acontainer::-webkit-scrollbar-thumb {
    background-color: #404040;
}

/* Upload */
.upload {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0rem 4rem;
    padding-bottom: 5rem;
}

.upload .maincontainer {
    width: 100%;
    display: flex !important;
    padding: 2rem 1rem;
    align-items: stretch;
    border-radius: 20px;
    box-shadow: rgba(3, 3, 3, 0.35) 0px 5px 10px;
}

.upload .maincontainer .leftpart,
.upload .maincontainer .rightpart {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.upload .leftpart h2 {
    margin-bottom: 2rem;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.upload .form-container {
    height: 100%;
    width: 100%;
}

.upload .form-container form {
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.upload .input {
    display: block;
    /* width: 100%; */
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.upload .submitButton {
    margin-top: 2rem;
    background-color: #fff;
    color: #000;
    border: none;
    padding: 16px 40px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    /* justify-self: flex-end; */
}

.upload .textcontainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    /* align-items: center; */
}

.upload .textcontainer h3 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.upload .textcontainer ul {}

.upload .textcontainer ul li {
    list-style: disc;
    /* list-style-position: inside; */
    font-size: 1.1rem;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.3;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.upload .textcontainer ul li a {
    font-size: 20px;
    color: #0ec5e6;
}

.upload .linkcontainer {
    background: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(212, 178, 216, 0.25);
    padding: 1rem;
    border-radius: 15px;
    height: 150px;
    overflow-y: auto;
    position: relative;
    color: white;
}

.upload .linkcontainer h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.upload .linkcontainer::-webkit-scrollbar {
    background-color: rgb(139, 137, 137);
    width: 8px;
}

.upload .linkcontainer::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
}

/* Terms  */

.terms .maincontainer {
    /* height: 100vh; */
    /* background: url(/static/images/bg.jpg) no-repeat; */
    /* background-size: cover; */
    display: flex;
    /* background-color: black; */
    flex-direction: column;
}

.terms .maincontainer2 {
    height: 70vh;
    overflow-y: auto;
    flex: 1;
}

.terms .maincontainer2::-webkit-scrollbar {
    background-color: rgb(139, 137, 137);
    width: 8px;
}

.terms .maincontainer2::-webkit-scrollbar-thumb {
    background-color: #404040;
}

.terms .container {
    padding: 2rem 5rem;
    color: #fff;
    overflow-y: auto;
}

.terms .container::-webkit-scrollbar {
    background-color: rgb(139, 137, 137);
    width: 8px;
}

.terms .container::-webkit-scrollbar-thumb {
    background-color: #404040;
}

.terms .mainheading {
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
}

.terms .container p {
    font-size: 1.15rem;
    font-weight: 400;
    letter-spacing: .5px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.terms .container p:last-child {
    margin-top: 20px;
}

.terms .container ul li {
    font-size: 1.1rem;
    letter-spacing: .5px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.terms .container {
    overflow: auto;
}
/* plays */
.plays {
    padding: 2rem 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plays .video-container {
    margin-bottom: 2rem;
    width: 580px;
    height: 300px;
}

.plays .wrapper video {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* filter: blur(2px); */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.plays .btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.plays .btncontainer button {
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* main play */
.play {
    padding: 1rem 4rem;
    height: 70vh;
    overflow-y: auto;
}

.play::-webkit-scrollbar {
    background-color: rgb(139, 137, 137);
    width: 8px;
}

.play::-webkit-scrollbar-thumb {
    background-color: #404040;
}

.play .video-container {
    margin-bottom: 2rem;
}

.play .video-container video {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.play .text-content h4 {
    font-size: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    margin-bottom: .5rem;
}

.play .text-content p {
    font-size: 16px;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
    width: 90%;
    letter-spacing: .2px;
    line-height: 1.3;
}